body{
    background-repeat: no-repeat;
 background-size: cover;
 background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url("/../../../assets/imgs/loginfondowo.png");
 }
 img{
     max-width: 100%;
 }
 .centroform{
     margin: 0 auto;
     position:absolute;
     width:100%;
     text-align:center;
 }