#divid{
    text-align: center;
    font-weight: 100;
    font-style: italic;
    background-color: rgb(6, 6, 17);
    color: #FFF;
    padding: 10px;
    position: relative;
}

.divid1{
    background-color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    float: left;
}
.dividpay{
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    width:720px;
    height:12cm;
    font-family: 'Courier New', Courier, monospace;
    float: left;
}

#pid{
font-size: 20px;
color: rgb(0, 0, 0);
font-family: 'Poppins', sans-serif;
padding-left: 60px;
text-decoration: solid;
font-style: oblique;
margin:0.5cm;
text-shadow: #FFF 10px;
}